.playlist__item {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.playlist__track {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
}

.track__title {
  width: 447px; 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.track__titleImage {
  width: 51px;
  height: 51px;
  padding: 16px;
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 17px;
  border-radius: 4px;
}

.track__titleSvg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.track__titleText {
  display: flex;
  align-items: center;
}

.track__titleLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.track__titleSpan {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4e4e4e;
}

.track__authorLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
  text-decoration: none;
}

.track__authorLink:hover {
  color: #d9b6ff;
}

.track__album {
  width: 245px;
}

.track__albumLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696969;
}

.track__albumLink:hover {
  color: #d9b6ff;
}

.track__time {
  width: 60px; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.track__timeSvg {
  width: 14px;
  height: 12px;
  margin-right: 17px;
  fill: transparent;
  stroke: #696969;
  cursor: pointer;
  transition: stroke 0.2s;
}

.track__timeSvg:hover {
  stroke: #d9b6ff;
}

.track__timeText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #696969;
}

.track__author {
  width: 321px; 
  display: flex;
  justify-content: flex-start;
}

/* Фиолетовая точка */
.playingDot {
  width: 16px;
  height: 16px;
  background-color: #b672ff;
  border-radius: 50%;
  display: block;
}

/* Класс для анимации пульсации */
.playingDotActive {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% { transform: scale(0.8); }
  100% { transform: scale(1.2); }
}